/* ------------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Noto Sans', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------- HEADINGS ------- */

h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: left;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #8e44ad;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- PARAGRAPHS ------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}


/* ------- ICONS ------- */

.icon-big {
    font-size: 400%;
    display: block;
    color: #8e44ad;
    margin-bottom: 10px;
    text-align: center;
}


/* ------- BUTTONS ------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #8e44ad;
    border: 1px solid #8e44ad;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #8e44ad;
    color: #8e44ad;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #7a3a95;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #7a3a95;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #7a3a95;
    color: #fff;
}




/* ------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------- */

header {
    background-image: (linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/hero-pic-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero-pic-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------------------------------------------------------------------- */
/* FEATURES */
/* ------------------------------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------- */
/* NEW RELEASES */
/* ------------------------------------------------------------------- */

.section-new-release {
    padding: 0;
}

.new-release {
    list-style: none;
    width: 100%;
}

.new-release li {   /* BASE SETUP FOR 4/4 LIST */
    display: block;
    float: left;
    width: 25%;
}

.release-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.new-release img {
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.28);
    transition: opacity 0.5s, transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* ------- BUTTONS IN RELEASES SECTIONS ------- */

.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    position: absolute;
    width: 10%;
    height: 6%;
    font-size: 65%;
    text-align: center;
    text-transform: uppercase;
}

.btn1 {
    top: 240%;
    left: 6%;
    padding-bottom: 35px;
}

.btn2 {
    top: 240%;
    left: 32%;
    padding-bottom: 46px;
}

.btn3 {
    top: 240%;
    left: 57.3%;
    padding-bottom: 31px;
    padding-top: 15px;
}

.btn4 {
    top: 240%;
    left: 83.3%;
    padding-bottom: 46px;
}

.btn5 {
    top: 270.5%;
    left: 5%;
}

.btn6 {
    top: 268%;
    left: 32%;
    padding-bottom: 46px;
}

.btn7 {
    top: 268%;
    left: 57.6%;
    padding-bottom: 46px;
}

.btn8 {
    top: 268%;
    left: 83%;
    padding-bottom: 37px;
}

.btn1:link,
.btn1:visited,
.btn2:link,
.btn2:visited,
.btn3:link,
.btn3:visited,
.btn4:link,
.btn4:visited,
.btn5:link,
.btn5:visited,
.btn6:link,
.btn6:visited,
.btn7:link,
.btn7:visited,
.btn8:link,
.btn8:visited  {
    border: 1px solid #fff;
    color: #fff;
}

.btn1:hover,
.btn1:active,
.btn2:hover,
.btn2:active,
.btn3:hover,
.btn3:active,
.btn4:hover,
.btn4:active,
.btn5:hover,
.btn5:active,
.btn6:hover,
.btn6:active,
.btn7:hover,
.btn7:active,
.btn8:hover,
.btn8:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #fff;
}

.btn1:hover,
.btn1:active,
.btn2:hover,
.btn2:active,
.btn3:hover,
.btn3:active,
.btn4:hover,
.btn4:active,
.btn5:hover,
.btn5:active,
.btn6:hover,
.btn6:active,
.btn7:hover,
.btn7:active,
.btn8:hover,
.btn8:active {
    border: 1px solid #fff;
    color: #000;
}

/* ------------------------------------------------------------------- */
/* REVIEWS */
/* ------------------------------------------------------------------- */

.section-reviews {
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #e3e3e3;
}

.section-reviews h2 {
    margin-left: 670px;
    margin-top: 15%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
}

.section-reviews h3 {
    color: #7a3a95;
}

.section-reviews h4 {
    padding-bottom: 15px;
}

.section-reviews .review-text {
    text-align: center;
    float: right;
    width: 50%;
}

.section-reviews img {
    float: left;
    width: 45%;
}

.section-reviews p {
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.5;
}

.review-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.review-img .div1 {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}

.review-img .div2 {
    position: relative;
    top: 5px;
    left: 3%;
}

.section-reviews .btn {
    margin-top: 30px;
}

/* ------------------------------------------------------------------- */
/* PREVIEWS */
/* ------------------------------------------------------------------- */

.section-previews {
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #e3e3e3;
}

.section-previews h2 {
   margin-right: 50%;
}

.section-previews h3 {
    color: #7a3a95;
}

.section-previews h4 {
    padding-bottom: 15px;
}

.section-previews .preview-text {
    text-align: center;
    float: left;
    width: 50%;
}

.section-previews img {
    float: right;
    width: 50%;
}

.section-previews p {
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.5;
}

.section-previews .btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------- */
/* SECTION MORE FEATURES */
/* ------------------------------------------------------------------- */

/* ------- SECTION MORE FEATURES | BASIC SETUP ------- */

.section-more {
   width: 100%;
    overflow: hidden;
    padding: 0;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

.section-more img {
    filter: brightness(40%);
}

.section-more .club-logo {
    position: absolute;
    filter: none;
    width: 20%;
}

/* ------- SMF | COLUMN 1 ------- */

.section-more .sm1 {
    position: absolute;
    margin-left: 20px;
    margin-right: 295px;
    margin-top: -50px;
    font-size: 80%;
    max-width: 70%;
    line-height: 2;
    text-align: center;
    color: #fff;
    top: 620%;
    right: 50%;
}

.section-more .f1 {
    position: relative;
    width: 269.5%;
    right: 100%;
    float: left;
}

.feature-m-1 h2 {
    position: absolute;
    font-size: 150%;
    top: 600%;
    right: 75%;
    float: left;
    color: #fff;
}

.smf-btn1 {
    position: absolute;
    top: 667%;
    right: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ------- SMF | COLUMN 2 ------- */

.section-more .sm2 {
    position: absolute;
    color: #fff;
    text-align: center;
    max-width: 70%;
    font-size: 80%;
    line-height: 2;
    top: 620%;
    left: 32%;
    margin-left: 35px;
    margin-right: 470px;
    margin-top: -3.5%;
    z-index: 3;
}

.section-more .f2 {
    position: relative;
    width: 123.5%;
    right: 12%;
    z-index: 2;
}

.feature-m-2 h2 {
    position: absolute;
    top: 600%;
    left: 43%;
    font-size: 150%;
    color: #fff;
    z-index: 3;
}

.smf-btn2 {
    position: absolute;
    top: 667%;
    left: 44%;
    z-index: 3;
}

/* ------- SMF | COLUMN 3 ------- */

.section-more .sm3 {
    position: absolute;
    color: #fff;
    text-align: center;
    max-width: 70%;
    font-size: 80%;
    line-height: 2;
    top: 620%;
    margin-left: 80px;
    margin-right: 35px;
    margin-top: -3.5%;
    z-index: 3;
}

.section-more .f3 {
    position: relative;
    width: 269.5%;
    left: -66%;
    z-index: 1;
}

.feature-m-3 h2 {
    position: absolute;
    font-size: 150%;
    float: right;
    top: 600%;
    left: 78%;
    z-index: 3;
    color: #fff;
}

.smf-btn3 {
    position: absolute;
    top: 667%;
    left: 79%;
    z-index: 3;
}

/* ------------------------------------------------------------------- */
/* LOGOS */
/* ------------------------------------------------------------------- */
/*
.logos {
    overflow: hidden;
    max-width: 1800px;
}

.logos .al {
    float: left;
    width: 90%;
    margin-top: 6%;
}

.logos .ta {
    width: 60%;
    margin-top: 0%;
    margin-left: 20%;
}

.logos .ga {
    width: 55%;
    margin-top: 5.5%;
    margin-left: 35%;
}

.logo .wa {
    width: 25%;
    margin-top: 2%;
    margin-left: 76%;
}

.logo .ba {
    width: 16%;
    margin-top: -35%;
    margin-left: 5%;
}

.logo .sa {
    width: 10%;
    margin-left: 23.5%;
    margin-top: -10%;
}
*/
/* ------------------------------------------------------------------- */
/* ANIMATIONS */
/* ------------------------------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
    opacity: 1;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated,
.js--wp-5 .animated,
.js--wp-6 .animated {
    opacity: 0;
}
